:root {
  --primary-color: #9e2a2b;
  --primary-color-light: #fff3b0;
  --primary-color-dark: #540b0e;
  --secondary-color: #e09f3e;
  --secondary-color-dark: #335c67;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--primary-color);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--secondary-color);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: var(--primary-color-dark);
}
.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: var(--primary-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--secondary-color-dark);
}

.img-fluid {
  width: 100%;
  height: auto;
}
.card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
