:root {
  --primary-color: #9e2a2b;
  --primary-color-light: #fff3b0;
  --primary-color-dark: #540b0e;
  --secondary-color: #e09f3e;
  --secondary-color-dark: #335c67;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var(--primary-color);
}
header {
  background-color: black;
}
header h1 a {
  color: var(--primary-color);
  font-family: "Agbalumo";
  text-transform: capitalize;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  background-color: var(--primary-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
a:hover {
  color: var(--primary-color-dark);
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.full-width-image-bg {
  background-image: url("./images/velvet.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-fluid {
  width: 100%;
  height: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 30%;
  text-align: center;
  margin: 5px;
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
}
