:root {
  --primary-color: #000;
  --primary-color-light: #767676;
  --secondary-color: #e5e7eb;
}
* {
  box-sizing: border-box;
}
.row > * {
  padding-right: 0;
  padding-left: 0;
}

.logo {
  float: left;
  margin-right: auto;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 2rem;
}

.logo :hover {
  text-decoration: underline;
}
.name {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  background-color: #fff;
  color: var(--primary-color);
  text-transform: uppercase;
}

.container {
  text-align: center;
}
header {
  position: fixed;
  z-index: 1;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
.lead {
  font-size: 2rem;
}
.display-4 {
  font-size: 4rem;
}

.flex-row {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.btn-group .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  margin: 1rem 0;
}
.btn-group .btn:hover {
  text-decoration: underline;
}

.categoryBtn {
  color: var(--secondary-color);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin: 0 auto;
  padding: 0 1rem;
}
.full-width-image-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30%;
  margin: 5px;
}
.card-body {
  color: var(--primary-color);
  font-weight: 500;
}
.card-footer {
  border: none;
  background-color: transparent;
}
.card-text {
  font-weight: 300;
  text-decoration: underline;
}
.card-text:hover {
  font-weight: 500;
}

.btn {
  border: transparent;
  background: none;
  font-weight: 500;
  color: var(--primary-color);
  text-transform: uppercase;
}

.btn:hover {
  text-decoration: underline;
  background-color: transparent;
  color: var(--primary-color);
}
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: 500;
}
.img-fluid {
  width: 100%;
  height: auto;
} /*
.img-detail {
  width: 50%;
  height: auto;
  object-fit: contain;
}*/
.container-fluid {
  text-align: center;
}
.detail {
  position: relative;
}
.navigation {
  margin-top: 0;
  position: relative;
}
.navbar {
  margin: 0 auto;
  font-weight: 300;
  font-size: 1rem;
  margin-right: 50px;
}

.card-img-top {
  height: 400px;
  object-fit: cover;
}
.product-info {
  margin: 0 auto;
  width: 50%;
  padding: 10%;
}
.product-image {
  margin: 0 auto;
  width: 50%;
  padding: 5%;
}
