.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 15px;
  z-index: 1000;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.cartLogo {
  height: 40px;
  width: 40px;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart-item-image {
  width: 70px;
  margin-right: 1rem;
  padding: 5px;
}

.cart input {
  width: 50px;
  padding: 0;
}

.cart-footer,
.cart-message {
  padding: 15px;
}
.cartBtns {
  padding: 10px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
}
.cart-qty,
.trash-icon {
  padding: 10px;
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    z-index: 1000;
  }
  .cart-closed {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001;
  }
}

/* Small Devices, Tablets */
@media screen and (max-width: 768px) {
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    z-index: 1000;
  }
  .cart-closed {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001;
  }
}

/* Medium Devices, Desktops */
@media screen and (max-width: 991px) {
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    z-index: 1000;
  }
  .cart-closed {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001;
  }
}
