.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: white;
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 15px;
  z-index: 1000;
}

.cart h2 {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--dark);
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.cartLogo {
  height: 40px;
  width: 40px;
}

.cart .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  color: var(--tertiary);
}

.cart .close:hover {
  text-decoration: underline;
}

.cart-closed {
  position: fixed;
  top: 0;
  right: 1%;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  padding: 0.25rem;
  width: 50px;
  height: 50px;
  z-index: 1000;
}

.cart-closed:hover {
  transform: rotate(8deg);
}

.cart img {
  width: 70px;
  margin-right: 1rem;
}

.cart input {
  width: 50px;
  padding: 0;
  margin: 0 0.5rem 1rem 0;
}

@media screen and (max-width: 768px) {
  .cart {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: auto;
    box-shadow: none;
    background-color: inherit;
    z-index: 1000; /* Set a higher z-index value */
  }
  .cart-closed {
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 1001; /* Ensure the closed cart icon is above the open cart */
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
  /* Your styles for extra small devices go here */
}

/* Small Devices, Tablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large Devices, Large Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Your styles for large devices go here */
}

/* Extra Large Devices, Extra Large Desktops */
@media only screen and (min-width: 1200px) {
  /* Your styles for extra large devices go here */
}
